.header {
  background-color: #4d2c5ebb;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
    display: none;
  }

  .logo {
    img {
      width: 37px;
      height: 37px;
      object-fit: contain;
    }
  }

  .nav {
    display: flex;

    &.active {
      display: block;
    }
    .disp {
      display: none;
    }
    ul {
      list-style: none;
      display: flex;

      li {
        &:last-child {
          border-bottom: none;
        }

        a {
          display: block;
          padding: 10px;
          color: #fff;
          text-decoration: none;
          font-weight: 500;
          transition: background-color 0.3s ease;
        }
      }
    }
  }

  .rightSection {
    display: flex;
    align-items: center;
  }

  .search {
    display: flex;
    align-items: center;
    margin-right: 15px;

    input {
      padding: 10px;
      border: 2px solid #fff;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      border-right: none;
      font-size: 14px;
      background: #ffffff77;
      outline: none;

      &:focus {
        background: transparent;
        color: #fff;
      }

      &::placeholder {
        color: #fff;
      }
    }

    .searchBtn {
      background-color: #ffffff77;
      border: 2px solid #fff;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      border-left: none;
      padding: 11px 18px;
      cursor: pointer;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #4d2c5ebb;
    }
  }

  .language {
    display: flex;
    align-items: center;
    margin-right: 15px;

    .bold {
      background: rgb(255, 255, 255);
      border-radius: 5px;
      border: none;
      color: #000000;
      font-weight: 500;
      cursor: pointer;
      padding: 5px 10px;
    }

    .normal {
      background: none;
      border: none;
      color: #fff;
      font-weight: 500;
      cursor: pointer;
      padding: 5px 10px;
      transition: opacity 0.3s ease;
    }
  }

  .auth {
    button {
      background-color: #4d2c5e;
      color: #fff;
      border: none;
      padding: 8px 15px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 500;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 430px) {
  .header {
    background: none !important;
    position: absolute;

    .nav {
      background-color: #8b54a77a;
      display: none;
      transition: all 0.3s ease-in-out;

      &.active {
        display: none;
      }
      .disp {
        display: block;
      }

      &.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 10px 0;
      }
      ul {
        flex-direction: column;
        align-items: center;
      }
    }

    .content {
      padding: 0;
    }

    .logo {
      display: none;
    }

    .language {
      background: #8b54a77a;
      border: 1px solid #4d2c5e;
      color: #fff;
      border-radius: 8px;
      padding: 8px 14px;

      .bold {
        font-size: 18px !important;
      }

      .normal {
        font-size: 18px !important;
      }
    }

    .auth {
      button {
        padding: 10px 24px;
        border-radius: 10px;
        font-size: 18px !important;
      }
    }

    .hamburger {
      font-size: 40px !important;
      display: flex !important;
    }

    .search {
      display: none !important;
    }
  }
}

@media (max-width: 320px) {
  .header {
    background: none !important;

    .content {
      padding: 0;
    }

    .nav {
      a {
        font-size: 14px;
      }

      &.active {
        display: none;
      }
      .disp {
        display: block;
      }
    }

    .hamburger {
      font-size: 40px !important;
      display: flex !important;
    }

    .logo {
      display: none;
    }

    .auth {
      button {
        padding: 8px 16px;
        border-radius: 10px;
        font-size: 14px !important;
      }
    }

    .language {
      background: #8b54a77a;
      border: 1px solid #4d2c5e;
      color: #fff;
      border-radius: 8px;
      padding: 2px 8px;

      .bold {
        font-size: 14px !important;
      }

      .normal {
        font-size: 14px !important;
      }
    }

    .search {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header {
    background: none;

    .hamburger {
      display: flex !important;
      align-items: center !important;
      font-size: 56px;
      color: #640ea7;

      cursor: pointer;
    }

    .search {
      display: none !important;
    }

    .logo {
      display: none;
    }
    .language {
      background: #8b54a77a;
      .bold {
        font-size: 26px;
      }

      .normal {
        font-size: 26px;
      }
    }
    .auth {
      button {
        font-size: 26px;
      }
    }

    .nav {
      display: none;
      background: #8b54a7a1;
      transition: all 0.3s ease-in-out;
      &.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 10px 0;
      }

      &.active {
        display: none;
      }
      .disp {
        display: block;
      }
      a {
        font-size: 30px !important;
      }

      ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;

        li {
          padding: 5px 0;
          border-bottom: 1px solid #fff;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media (max-width: 884px) {
  .header {
    position: absolute;
    background: none;
    .content {
      align-items: center;
    }

    .hamburger {
      display: flex !important;
      font-size: 50px;
    }

    .nav {
      display: none;
      background: #8b54a7a1;
      transition: all 0.3s ease-in-out;

      &.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 10px 0;
      }

      &.active {
        display: none;
      }
      .disp {
        display: block;
      }

      ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;

        li {
          padding: 5px 0;
          border-bottom: 1px solid #fff;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      a {
        font-size: 30px !important;
      }
    }

    .search {
      display: none;
    }

    .language {
      .bold {
        font-size: 26px;
      }

      .normal {
        font-size: 26px;
      }
    }

    .auth {
      button {
        font-size: 26px;
      }
    }

    .logo {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    position: absolute;
    background: none;
    .hamburger {
      font-size: 50px;
    }

    .nav {
      display: none;
      background: #8b54a7a1;
      &.active {
        display: grid;
      }
      a {
        font-size: 20px;
      }
    }

    .search {
      display: none;
    }
    .logo {
      display: none;
    }
    .auth {
      button {
        font-size: 26px;
      }
    }
    .language {
      background: #8b54a77a;
      border: 1px solid #4d2c5e;
      color: #fff;
      border-radius: 8px;
      padding: 2px 8px;

      .bold {
        font-size: 26px;
      }

      .normal {
        font-size: 26px;
      }
    }
  }
}

// @media (max-width: 1280px) {
//   .header {
//     position: absolute;
//     background: none;
//     .hamburger {
//       font-size: 50px;
//     }
//   }
// }
