.classes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 277px;
    height: 69px;
    border-radius: 7px;
    text-align: center;
    border: 3px solid #ffe5e5;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.block:hover {
    background: rgb(255, 246, 246);
    border: 3px solid #ffd3d3;
}

.block_text {
    color: black;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
}
