.NewsDetailContent {
  padding-top: 100px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .newsText {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        font-weight: 500;
        border-bottom: 2px solid black;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
      }
    }
    h1 {
      width: 80%;
    }
    h6 {
      margin-top: 16px;
      font-size: 15px;
      font-weight: 500;
      color: gray;
    }
    img {
      width: 100%;
      max-width: 1000px;

      height: 75vh;
      object-fit: cover;
      margin-block: 30px;
    }
    .poragraf {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;
      p {
        width: 100%;
      }
      .poragrafNext {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          width: 80%;
        }
        br {
          margin-top: 50px;
        }
      }
    }
    hr {
      margin-block: 30px;
      color: gray;
    }
    .comments {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;
      h2 {
        font-weight: 600;
        color: gray;
      }
      .commentBlocks {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: 30px;
        .commentBlock {
          width: 380px;
          height: 300px;
          border: 2px solid #fb8f8f;
          border-radius: 5px;
          background: #fff6f6;
          display: flex;
          align-items: center;
          flex-direction: column;
          .commentUser {
            display: flex;
            align-items: center;
            gap: 20px;
            img {
              width: 15%;
              height: 40%;
            }
            h3 {
              font-size: 18px;
            }
          }
          p {
            width: 80%;
            color: rgb(94, 92, 92);
          }
          .commentBottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 200px;
            margin-top: 30px;
            h6 {
              font-weight: 300;
              color: gray;
            }
            a {
              font-size: 25px;
              cursor: pointer;
            }
            .like {
              color: blue;
            }
          }
        }
      }
    }
    .commentInput {
      margin-block: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      input {
        width: 400px;
        height: 70px;
        padding-left: 20px;
        outline: none;
        border: 2px solid #fb8f8f;
        border-radius: 5px;
        background: #fff6f6;
      }
      button {
        width: 400px;
        height: 50px;
        background: #fb8f8f;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        border: none;
      }
    }
  }
}
