.content {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 30px;
    gap: 60px;
}

.graduatesTable {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.Block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 100%;
    color: black;
    font-size: 30px;
    font-weight: 500;
    border-radius: 17px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 4px solid #ffe5e5;
    cursor: pointer;
    text-decoration: none;
}

.Block:nth-child(even):hover {
    transform: translateX(10px);
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
}

.Block:nth-child(odd):hover {
    transform: translateX(-10px);
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
}

.Block:hover {
    background: rgb(255, 246, 246);
    border: 3px solid #ffd3d3;
}

@media (max-width: 1020px) {
    .Block {
        padding: 45px 0;
        font-size: 25px;
    }
}
@media (max-width: 770px) {
    .Block {
        padding: 25px 0;
        font-size: 15px;
    }
}
@media (max-width: 430px) {
    .Block:nth-child(even):hover {
        transform: translateX(3px);
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
    }

    .Block:nth-child(odd):hover {
        transform: translateX(-3px);
        box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
    }

    .Block {
        padding: 15px 0;
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .Block {
        padding: 10px 0;
        font-size: 8px;
    }
}
