.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 30px;
    gap: 60px;
}

.graduatesTable {
    padding: 0 0 20px 0;
}
