.StudentsPage {
    padding: 0 0 80px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 0 0;
    gap: 50px;
}

.link {
    color: black;
    text-decoration: none;
}

.blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.heroContent {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: flex-direction 0.3s;
}

@media (max-width: 1190px) {
    .heroContent {
        gap: 20px;
    }
}
@media (max-width: 1140px) {
    .heroContent {
        gap: 18px;
    }
}
@media (max-width: 1100px) {
    .heroContent {
        flex-direction: column;
    }

    .blocks {
        order: 0;
        gap: 10px;
    }
    .StudentsMainContent {
        order: 1;
    }

    .Title {
        font-size: 20px;
    }
}

@media (max-width: 740px) {
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
}
