.StudentsPage {
    padding: 0 0 80px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 0 0;
    gap: 50px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(
            -20px
        ); /* или translateX для горизонтального движения */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.Title {
    animation: fadeIn 0.7s ease-out; /* Длительность анимации и функция временной функции */
}

.link {
    color: black;
    text-decoration: none;
}

.blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.StudentsPage {
    padding: 2rem 0;
    background-color: #f5f5f5; // Optional: background color for the page
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative; // Ensure container is positioned relatively
}

.heroContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; // Align items to the start of the flex container
    position: relative;
}

.StudentsMainContent,
.blocks {
    opacity: 0; // Start with invisible
    transform: translateX(-5%); // Position off-screen
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; // Smooth transition
}

.StudentsMainContent {
    transition-delay: 0.5s; // Delay for the main content
}

.blocks {
    transform: translateX(5%); // Position off-screen from the left
    transition-delay: 0.5s; // Delay for the blocks
}

.StudentsMainContent.visible,
.blocks.visible {
    opacity: 1; // Make visible
    transform: translateX(0); // Move to the final position
}

.heroContent {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: flex-direction 0.3s;
}

@media (max-width: 1190px) {
    .heroContent {
        gap: 20px;
    }
}
@media (max-width: 1140px) {
    .heroContent {
        gap: 18px;
    }
}
@media (max-width: 1100px) {
    .heroContent {
        flex-direction: column;
    }

    .blocks {
        order: 0;
        gap: 10px;
    }
    .StudentsMainContent {
        order: 1;
    }

    .Title {
        font-size: 20px;
    }
}

@media (max-width: 740px) {
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
}
