.content {
    display: flex;
    align-items: center;
}

.ParliamBlock {
    width: 249px;
    height: 324px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    background-image: url(../../../../../../assets/images/students_parlament.svg);
}

.ParliamBlock_text {
    font-size: 26px;
    color: white;
    text-decoration: none;
    text-align: left;
}
