.content {
    padding-top: 100px;
    display: flex;
    padding-bottom: 40px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.tableTitle {
    display: grid;
    grid-template-columns: 0.3fr 3fr 0.3fr 0.3fr 0.3fr;
    gap: 120px;
    width: 100%;
}
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    width: 100%;
    text-align: center;
}
.studentInfo {
    display: grid;
    width: 100%;
    grid-template-columns: 0.3fr 3fr 0.3fr 0.3fr 0.3fr;
    gap: 120px;
}

.tableText {
    font-size: 20px;

    font-weight: 600;
    line-height: 27.24px;
    color: #666666;
    text-align: left;
}

.tableContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.levelText {
    font-size: 20px;
    width: 130px;
    font-weight: 600;
    line-height: 27.24px;
    color: #666666;

    text-align: left;
}

.tableYear {
    font-size: 20px;
    width: 50px;
    font-weight: 600;
    line-height: 27.24px;
    color: #666666;
    text-align: left;
}

.tablePlace {
    font-size: 20px;
    width: 20px;
    font-weight: 600;
    line-height: 27.24px;
    color: #666666;
    text-align: left;
}
.levelTitleText {
    font-size: 20px;
    width: 130px;
    font-weight: 600;
    line-height: 27.24px;
    color: #afafaf;

    text-align: left;
}

.titleYear {
    font-size: 20px;
    width: 50px;
    font-weight: 600;
    line-height: 27.24px;
    color: #afafaf;
    text-align: left;
}

.titlePlace {
    font-size: 20px;
    width: 20px;
    font-weight: 600;
    line-height: 27.24px;
    color: #afafaf;
    text-align: left;
}

.tableTextNumber {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: left;

    color: #000000;
}

.nameContent {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.tableName {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: center;
    color: #666666;

    gap: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    animation: fadeIn 0.7s ease-out;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animateFromLeft {
    animation: slideInFromLeft 1s ease-out forwards;
}
.animateFromLeft:nth-child(1) {
    animation-delay: 0.1s;
}

.animateFromLeft:nth-child(2) {
    animation-delay: 0.3s;
}

.animateFromLeft:nth-child(3) {
    animation-delay: 0.6s;
}
.animateFromLeft:nth-child(4) {
    animation-delay: 0.9s;
}
.animateFromLeft:nth-child(5) {
    animation-delay: 0.12s;
}
.animateFromLeft:nth-child(6) {
    animation-delay: 0.15s;
}
.animateFromLeft:nth-child(7) {
    animation-delay: 0.18s;
}

.animateFromLeft:nth-child(8) {
    animation-delay: 0.21s;
}

.animateFromLeft:nth-child(9) {
    animation-delay: 0.24s;
}
.animateFromLeft:nth-child(10) {
    animation-delay: 0.27s;
}
.animateFromLeft:nth-child(11) {
    animation-delay: 0.3s;
}
.animateFromLeft:nth-child(12) {
    animation-delay: 0.33s;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: center;
    color: #000000;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    border-bottom: 2px solid black;
}

.table {
    padding: 40px 0 0 0;
}

.studentIcon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.isLoadingBlock {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.errorBlock {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

@media (max-width: 1140px) {
    .tableTitle {
        display: grid;
        gap: 90px;
    }

    .studentInfo {
        display: grid;
        padding: 2px 0;
        gap: 90px;
    }

    .titleText {
        font-weight: 500;
    }
    .tableText {
        font-weight: 500;
    }

    .tableTextNumber {
        font-weight: 500;
    }

    .tableName {
        font-weight: 500;
    }
}

@media (max-width: 885px) {
    .table {
        padding: 30px 0 0 0;
    }
    .tableTitle {
        display: grid;
        gap: 60px;
    }

    .studentInfo {
        display: grid;
        padding: 2px 0;
        gap: 60px;
    }

    .levelText {
        width: 100px;
        font-size: 18px;
        font-weight: 500;
    }
    .titleText {
        font-size: 18px;
        font-weight: 500;
    }

    .tableYear {
        width: 40px;
        font-size: 18px;
        font-weight: 500;
    }

    .tablePlace {
        width: 15px;
        font-size: 18px;
        font-weight: 500;
    }
    .levelTitleText {
        width: 100px;
        font-size: 18px;
        font-weight: 500;
    }

    .titleYear {
        width: 40px;
        font-size: 18px;
        font-weight: 500;
    }

    .titlePlace {
        font-size: 18px;
        font-weight: 500;
        width: 15px;
    }

    .tableText {
        padding: 0 5px 0 0;

        font-size: 18px;
        font-weight: 500;
    }

    .tableTextNumber {
        font-size: 18px;
        font-weight: 500;
    }

    .tableName {
        font-size: 18px;
        font-weight: 500;
    }
    .studentIcon {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 801px) {
    .tableTitle {
        gap: 40px;
    }

    .studentInfo {
        gap: 40px;
    }
}

@media (max-width: 530px) {
    .tableContent {
        gap: 0px;
    }
    .titleText {
        font-weight: 500;
    }
    .tableText {
        font-weight: 500;
    }

    .tableTextNumber {
        font-weight: 500;
    }

    .tableName {
        font-weight: 500;
    }
    .studentIcon {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 430px) {
    .nameContent {
        gap: 5px;
    }
    .tableName {
        gap: 5px;
    }
    .table {
        padding: 30px 0 0 0;
    }
    .tableTitle {
        display: grid;
        gap: 5px;
    }

    .studentInfo {
        display: grid;
        padding: 2px 0;
        gap: 5px;
    }

    .levelText {
        width: 80px;
        font-size: 10px;
        font-weight: 400;
    }
    .titleText {
        font-size: 10px;
        font-weight: 400;
    }
    .content {
        padding-top: 70px;
    }

    .title {
        font-size: 16px;
    }

    .tableYear {
        width: 40px;
        font-size: 10px;
        font-weight: 400;
    }

    .tablePlace {
        width: 7px;
        font-size: 10px;
        font-weight: 400;
    }
    .levelTitleText {
        width: 80px;
        font-size: 10px;
        font-weight: 400;
    }

    .titleYear {
        width: 40px;
        font-size: 10px;
        font-weight: 400;
    }

    .titlePlace {
        font-size: 10px;
        font-weight: 400;
        width: 7px;
    }

    .tableText {
        padding: 0 5px 0 0;

        font-size: 10px;
        font-weight: 400;
    }

    .tableTextNumber {
        font-size: 10px;
        font-weight: 400;
    }

    .tableName {
        font-size: 10px;
        font-weight: 400;
    }
    .studentIcon {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 361px) {
    .nameContent {
        gap: 5px;
    }
    .tableName {
        gap: 5px;
    }
    .table {
        padding: 30px 0 0 0;
    }
    .tableTitle {
        display: grid;
        gap: 5px;
    }

    .studentInfo {
        display: grid;
        padding: 2px 0;
        gap: 5px;
    }

    .levelText {
        width: 60px;
        font-weight: 400;
    }
    .titleText {
        font-weight: 400;
    }
    .content {
        padding-top: 70px;
    }

    .title {
        font-size: 15px;
    }

    .tableYear {
        width: 30px;
        font-weight: 400;
    }

    .tablePlace {
        width: 4px;
        font-weight: 400;
    }
    .levelTitleText {
        width: 60px;
        font-weight: 400;
    }

    .titleYear {
        width: 30px;
        font-weight: 400;
    }

    .titlePlace {
        font-weight: 400;
        width: 5px;
    }

    .tableText {
        padding: 0 5px 0 0;
        font-weight: 400;
    }

    .tableTextNumber {
        font-weight: 400;
    }

    .tableName {
        font-weight: 400;
    }
    .studentIcon {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 361px) {
    .nameContent {
        gap: 5px;
    }
    .tableName {
        gap: 5px;
    }
    .table {
        padding: 30px 0 0 0;
    }
    .tableTitle {
        display: grid;
        gap: 5px;
    }

    .studentInfo {
        display: grid;
        padding: 2px 0;
        gap: 5px;
    }

    .levelText {
        width: 60px;
        font-size: 9px;
        font-weight: 400;
    }
    .titleText {
        font-size: 9px;
        font-weight: 400;
    }
    .content {
        padding-top: 70px;
    }

    .title {
        font-size: 15px;
    }

    .tableYear {
        width: 30px;
        font-size: 9px;
        font-weight: 400;
    }

    .tablePlace {
        width: 4px;
        font-size: 9px;
        font-weight: 400;
    }
    .levelTitleText {
        width: 60px;
        font-size: 9px;
        font-weight: 400;
    }

    .titleYear {
        width: 30px;
        font-size: 9px;
        font-weight: 400;
    }

    .titlePlace {
        font-size: 9px;
        font-weight: 400;
        width: 5px;
    }

    .tableText {
        padding: 0 5px 0 0;
        font-size: 9px;
        font-weight: 400;
    }

    .tableTextNumber {
        font-size: 9px;
        font-weight: 400;
    }

    .tableName {
        font-size: 9Ñ‡px;
        font-weight: 400;
    }
    .studentIcon {
        width: 15px;
        height: 15px;
    }
}
