/* [project]/src/appPages/site/components/pages/home/GalleryContent/GalleryContent.module.scss.module.css [app-client] (css) */
.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent {
  padding-top: 50px;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__galleryHead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__galleryHead h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  color: #333;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__galleryHead hr {
  width: 40px;
  height: 2px;
  border: none;
  border-radius: 12px;
  background: #6a00a1;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__gallery_card {
  margin-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__gallery_card .GalleryContent-module-scss-module__bTG7BW__galleryItem img {
  cursor: pointer;
  width: 380px;
  height: 258px;
  border-radius: 10px;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__gallery_card .GalleryContent-module-scss-module__bTG7BW__galleryItem img:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 16px #0003;
  transition: transform .3s;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__button {
  width: 100%;
  max-width: 180px;
  padding: 16px;
  background: #6a00a1;
  border-radius: 16px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__button:hover {
  transform: scale(1.01);
  transition: transform .3s;
}

@media (width <= 430px) {
  .GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__gallery_card {
    overflow-x: auto;
    grid-template-columns: repeat(6, 1fr) !important;
  }
}

@media (width <= 884px) {
  .GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__gallery_card {
    overflow-x: auto;
    grid-template-columns: repeat(6, 1fr) !important;
  }
}

/*# sourceMappingURL=e3fed_components_pages_home_GalleryContent_GalleryContent_module_scss_module_b52d8e.css.map*/