/* [project]/src/appPages/site/components/pages/home/About_us/AboutUsContent.module.scss.module.css [app-client] (css) */
.AboutUsContent-module-scss-module__yNKXqq__container {
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 12px;
}

.AboutUsContent-module-scss-module__yNKXqq__statsGrid {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.AboutUsContent-module-scss-module__yNKXqq__statItem {
  width: 240px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 8px 15px #0000001a;
  transition: transform .3s, box-shadow .3s;
  color: #333;
  text-align: center;
}

.AboutUsContent-module-scss-module__yNKXqq__statItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px #0003;
}

.AboutUsContent-module-scss-module__yNKXqq__icon {
  font-size: 3rem;
  color: #ff5722;
  margin-bottom: 1rem;
}

.AboutUsContent-module-scss-module__yNKXqq__value {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: .5rem;
}

.AboutUsContent-module-scss-module__yNKXqq__label {
  font-size: 1rem;
  color: #555;
}

.AboutUsContent-module-scss-module__yNKXqq__loading, .AboutUsContent-module-scss-module__yNKXqq__error {
  font-size: 1.5rem;
  color: #666;
  margin-top: 2rem;
}

@media (width <= 992px) {
  .AboutUsContent-module-scss-module__yNKXqq__container {
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 12px;
  }

  .AboutUsContent-module-scss-module__yNKXqq__statsGrid {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
  }

  .AboutUsContent-module-scss-module__yNKXqq__statItem {
    width: 170px;
    min-height: 190px;
  }

  .AboutUsContent-module-scss-module__yNKXqq__icon {
    font-size: 38px;
  }

  .AboutUsContent-module-scss-module__yNKXqq__value {
    font-size: 2.2rem;
  }

  .AboutUsContent-module-scss-module__yNKXqq__label {
    font-size: 1rem;
    color: #555;
  }
}

@media (width <= 768px) {
  .AboutUsContent-module-scss-module__yNKXqq__container {
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 12px;
  }

  .AboutUsContent-module-scss-module__yNKXqq__statsGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .AboutUsContent-module-scss-module__yNKXqq__statItem {
    width: 160px;
    min-height: 180px;
  }

  .AboutUsContent-module-scss-module__yNKXqq__icon {
    font-size: 35px;
  }

  .AboutUsContent-module-scss-module__yNKXqq__value {
    font-size: 1.8rem;
  }

  .AboutUsContent-module-scss-module__yNKXqq__label {
    font-size: 1rem;
    color: #555;
  }
}

@media (width <= 428px) {
  .AboutUsContent-module-scss-module__yNKXqq__container {
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 12px;
  }

  .AboutUsContent-module-scss-module__yNKXqq__statsGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .AboutUsContent-module-scss-module__yNKXqq__statItem {
    width: 130px;
    min-height: 140px;
  }

  .AboutUsContent-module-scss-module__yNKXqq__icon {
    font-size: 28px;
  }

  .AboutUsContent-module-scss-module__yNKXqq__value {
    font-size: 1.2rem;
  }

  .AboutUsContent-module-scss-module__yNKXqq__label {
    font-size: 14px;
    color: #555;
  }
}


/* [project]/src/appPages/site/components/pages/home/DirectorContent/DirectorContent.module.scss.module.css [app-client] (css) */
.DirectorContent-module-scss-module__YmjYHG__content {
  background: #fff6f6;
  margin-top: 40px;
  padding: 80px;
}

.DirectorContent-module-scss-module__YmjYHG__directorContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__bg2 {
  position: absolute;
  top: -10px;
  right: 100px;
  width: 308px;
  height: 580px;
  background: #fb8f8f;
  z-index: -1;
}

.DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__bg1 {
  position: absolute;
  z-index: -2;
  top: -40px;
  left: 0;
  width: 411px;
  height: 630px;
  background: #fad8d8;
}

.DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__image {
  position: relative;
  z-index: 99;
}

.DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__image img {
  width: 356px;
  height: 557px;
}

.DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__title {
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__title h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  font-weight: 900;
  color: #333;
}

.DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
  margin-top: 20px;
}

.DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__title p span {
  font-weight: 600;
  color: #6a00a1;
}

@media (width <= 430px) {
  .DirectorContent-module-scss-module__YmjYHG__directorContent {
    flex-direction: column;
  }

  .DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__bg2 {
    display: none;
  }

  .DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__bg1 {
    display: none;
  }

  .DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__title {
    margin-top: 20px;
    text-align: center;
  }

  .DirectorContent-module-scss-module__YmjYHG__directorContent .DirectorContent-module-scss-module__YmjYHG__image {
    margin-top: 20px;
  }
}


/* [project]/src/appPages/site/components/pages/home/GalleryContent/GalleryContent.module.scss.module.css [app-client] (css) */
.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent {
  padding-top: 50px;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__galleryHead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__galleryHead h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  color: #333;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__galleryHead hr {
  width: 40px;
  height: 2px;
  border: none;
  border-radius: 12px;
  background: #6a00a1;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__gallery_card {
  margin-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__gallery_card .GalleryContent-module-scss-module__bTG7BW__galleryItem img {
  cursor: pointer;
  width: 380px;
  height: 258px;
  border-radius: 10px;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__gallery_card .GalleryContent-module-scss-module__bTG7BW__galleryItem img:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 16px #0003;
  transition: transform .3s;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__button {
  width: 100%;
  max-width: 180px;
  padding: 16px;
  background: #6a00a1;
  border-radius: 16px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__content .GalleryContent-module-scss-module__bTG7BW__button:hover {
  transform: scale(1.01);
  transition: transform .3s;
}

@media (width <= 430px) {
  .GalleryContent-module-scss-module__bTG7BW__GalleryMainContent .GalleryContent-module-scss-module__bTG7BW__gallery_card {
    overflow-x: auto;
    grid-template-columns: repeat(6, 1fr) !important;
  }
}


/* [project]/src/appPages/site/components/pages/home/HeroContent/HeroContent.module.scss.module.css [app-client] (css) */
#HeroContent-module-scss-module__hIQxgW__content {
  background: url("../media/6W3A8933.8c6b6a8e.JPG") center / cover no-repeat;
  min-height: 100vh;
  position: relative;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__content {
  padding-top: 80px;
  position: absolute;
  bottom: 25px;
  z-index: 2;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage img {
  position: absolute;
  top: -10px;
  border: 4px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text {
  padding-top: 150px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 10px;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
  font-weight: 700;
  font-size: 48px !important;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
  font-size: 30px;
  font-weight: 200;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__subtext {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #56397bd2;
  padding: 96px;
}

@media (width >= 768px) {
  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
    font-size: 56px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
    font-size: 36px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__subtext {
    padding: 80px;
  }
}

@media (width <= 767px) {
  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text {
    padding-top: 100px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
    font-size: 36px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
    font-size: 24px;
  }
}

@media (width <= 430px) {
  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage {
    display: flex;
    justify-content: center;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage img {
    top: -150px;
    width: 150px;
    height: 150px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text {
    padding: 0;
    text-align: center;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
    padding-top: 10px;
    font-size: 26px !important;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
    font-size: 20px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__subtext {
    padding: 100px;
  }
}

@media (width <= 320px) {
  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage {
    display: flex;
    justify-content: center;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage img {
    top: -74px;
    width: 100px;
    height: 100px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text {
    padding-top: 20px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
    font-size: 20px !important;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
    font-size: 16px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__subtext {
    padding: 78px;
  }
}

@media (width >= 1024px) {
  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
    font-size: 64px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
    font-size: 42px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__subtext {
    padding: 100px;
  }
}


/* [project]/src/appPages/site/components/pages/home/NewsContent/NewsContent.module.scss.module.css [app-client] (css) */
#NewsContent-module-scss-module__FMi8tW__content {
  padding: 50px 0;
  background-color: #fff6f6;
}

#NewsContent-module-scss-module__FMi8tW__content h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
}

#NewsContent-module-scss-module__FMi8tW__content h1:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #56397b;
  margin: 10px auto 0;
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard div {
  background-color: #fff6f6;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0000001a;
  width: 300px;
  overflow: hidden;
  position: relative;
  transition: transform .3s;
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard div:hover {
  transform: translateY(-10px);
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard div img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard div p {
  padding-top: 10px;
  height: 100px;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard div span {
  color: #666;
  font-size: 12px;
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard div .NewsContent-module-scss-module__FMi8tW__end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__buttonContainer button {
  padding: 16px 30px;
  background-color: #56397b;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color .3s;
}

#NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__buttonContainer button:hover {
  background-color: #452d69;
}

@media (width <= 430px) {
  #NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1px;
  }

  #NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard .NewsContent-module-scss-module__FMi8tW__card {
    margin-right: 20px;
    min-width: 300px;
  }

  #NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard .NewsContent-module-scss-module__FMi8tW__card:first-child {
    margin-left: 1620px;
  }

  #NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard::-webkit-scrollbar {
    display: none;
  }
}

@media (width <= 767px) {
  #NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard {
    justify-content: center;
  }
}

@media (width >= 768px) {
  #NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard {
    justify-content: center;
  }
}

@media (width >= 1024px) {
  #NewsContent-module-scss-module__FMi8tW__content .NewsContent-module-scss-module__FMi8tW__newsCard {
    justify-content: center;
  }
}


/* [project]/src/appPages/site/components/pages/home/StudentsContent/StudentsContent.module.scss.module.css [app-client] (css) */
#StudentsContent-module-scss-module__UCq7Jq__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}

#StudentsContent-module-scss-module__UCq7Jq__content h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
}

#StudentsContent-module-scss-module__UCq7Jq__content h1:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #56397b;
  margin: 10px auto 0;
}

#StudentsContent-module-scss-module__UCq7Jq__content .StudentsContent-module-scss-module__UCq7Jq__imageWrapper {
  position: relative;
}

#StudentsContent-module-scss-module__UCq7Jq__content .StudentsContent-module-scss-module__UCq7Jq__circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  height: 360px;
  width: 300px;
  padding-top: 20px;
}

#StudentsContent-module-scss-module__UCq7Jq__content .StudentsContent-module-scss-module__UCq7Jq__student {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#StudentsContent-module-scss-module__UCq7Jq__content .StudentsContent-module-scss-module__UCq7Jq__content {
  padding-top: 50px;
}

#StudentsContent-module-scss-module__UCq7Jq__content .StudentsContent-module-scss-module__UCq7Jq__button {
  background-color: #56397b;
  color: #fff;
  padding: 16px 50px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s;
  margin-top: 350px;
  z-index: 3;
}

#StudentsContent-module-scss-module__UCq7Jq__content .StudentsContent-module-scss-module__UCq7Jq__button:hover {
  background-color: #4a2f6d;
}


/* [project]/src/appPages/site/components/pages/home/TeachersContent/TeachersContent.module.scss.module.css [app-client] (css) */
#TeachersContent-module-scss-module__J-1L6W__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}

#TeachersContent-module-scss-module__J-1L6W__content h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
}

#TeachersContent-module-scss-module__J-1L6W__content h1:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #56397b;
  margin: 10px auto 0;
}

#TeachersContent-module-scss-module__J-1L6W__content .TeachersContent-module-scss-module__J-1L6W__content {
  padding-top: 50px;
}

#TeachersContent-module-scss-module__J-1L6W__content .TeachersContent-module-scss-module__J-1L6W__imageWrapper {
  position: relative;
}

#TeachersContent-module-scss-module__J-1L6W__content .TeachersContent-module-scss-module__J-1L6W__circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  height: 360px;
  width: 300px;
  padding-top: 20px;
}

#TeachersContent-module-scss-module__J-1L6W__content .TeachersContent-module-scss-module__J-1L6W__teacher {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#TeachersContent-module-scss-module__J-1L6W__content .TeachersContent-module-scss-module__J-1L6W__button {
  background-color: #56397b;
  color: #fff;
  padding: 16px 50px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .3s;
  margin-top: 350px;
  z-index: 3;
}

#TeachersContent-module-scss-module__J-1L6W__content .TeachersContent-module-scss-module__J-1L6W__button:hover {
  background-color: #4a2f6d;
}


/* [project]/src/appPages/site/components/pages/HomePage.module.scss.module.css [app-client] (css) */
.HomePage-module-scss-module__xsQjTG__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.HomePage-module-scss-module__xsQjTG__personas {
  display: flex;
  justify-content: center;
  gap: 300px;
  padding: 40px 0;
}

@media (width <= 430px) {
  .HomePage-module-scss-module__xsQjTG__personas {
    flex-direction: column;
    gap: 0;
  }
}


/*# sourceMappingURL=src_appPages_site_components_pages_993791._.css.map*/
