/* [project]/src/appPages/site/components/pages/graduates/GraduatesMainContent/GraduatesMainContent.module.scss.module.css [app-client] (css) */
.GraduatesMainContent-module-scss-module__0B39iW__titleText {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: center;
  color: #000;
  position: relative;
}

@keyframes GraduatesMainContent-module-scss-module__0B39iW__fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.GraduatesMainContent-module-scss-module__0B39iW__titleText {
  animation: .7s ease-out GraduatesMainContent-module-scss-module__0B39iW__fadeIn;
}

@keyframes GraduatesMainContent-module-scss-module__0B39iW__slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromTop {
  animation: .7s ease-out forwards GraduatesMainContent-module-scss-module__0B39iW__slideInFromTop;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:first-child {
  animation-delay: .1s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(2) {
  animation-delay: .3s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(3) {
  animation-delay: .6s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(4) {
  animation-delay: .9s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(5) {
  animation-delay: .12s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(6) {
  animation-delay: .15s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(7) {
  animation-delay: .18s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(8) {
  animation-delay: .21s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(9) {
  animation-delay: .24s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(10) {
  animation-delay: .27s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(11) {
  animation-delay: .3s;
}

.GraduatesMainContent-module-scss-module__0B39iW__animateFromLeft:nth-child(12) {
  animation-delay: .33s;
}

.GraduatesMainContent-module-scss-module__0B39iW__loading {
  width: 100%;
  text-align: center;
}

.GraduatesMainContent-module-scss-module__0B39iW__error {
  width: 100%;
  text-align: center;
}

.GraduatesMainContent-module-scss-module__0B39iW__titleText:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  border-bottom: 2px solid #000;
}

.GraduatesMainContent-module-scss-module__0B39iW__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.GraduatesMainContent-module-scss-module__0B39iW__graduateName {
  font-size: 34px;
  font-weight: 600;
  line-height: 36.72px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-direction: column;
}

.GraduatesMainContent-module-scss-module__0B39iW__graduateDate {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}

.GraduatesMainContent-module-scss-module__0B39iW__graduateBio {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
}

.GraduatesMainContent-module-scss-module__0B39iW__graduates_Img {
  border-bottom: 8px solid #fb8f8f;
  border-right: 5px solid #fb8f8f;
  border-left: 5px solid #fb8f8f;
  width: 350px;
  border-radius: 15px;
  height: 450px;
}

.GraduatesMainContent-module-scss-module__0B39iW__mainContent_graduates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.GraduatesMainContent-module-scss-module__0B39iW__graduates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.GraduatesMainContent-module-scss-module__0B39iW__mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.GraduatesMainContent-module-scss-module__0B39iW__nameInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
}

.GraduatesMainContent-module-scss-module__0B39iW__biography {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
}

.GraduatesMainContent-module-scss-module__0B39iW__hr {
  border-bottom: 1px solid #9c9c9c;
  width: 70%;
  margin: 0 auto;
}

@media (width <= 1140px) {
  .GraduatesMainContent-module-scss-module__0B39iW__graduates {
    grid-template-columns: 1fr 1fr;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__content {
    gap: 20px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__titleText {
    font-size: 17px;
    font-weight: 500;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_title {
    font-size: 20px;
    font-weight: 700;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduates_Img {
    width: 300px;
    height: 400px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateName {
    font-size: 28px;
    font-weight: 500;
    line-height: 24px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateDate {
    font-size: 13px;
    font-weight: 200;
    line-height: 15px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateBio {
    font-size: 13px;
    font-weight: 200;
    line-height: 15px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_graduates {
    gap: 5px;
  }
}

@media (width <= 760px) {
  .GraduatesMainContent-module-scss-module__0B39iW__content {
    gap: 10px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__nameInfo {
    gap: 10px;
    padding: 10px 0;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduates {
    grid-template-columns: 1fr;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_title {
    font-size: 17px;
    font-weight: 600;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__titleText {
    font-size: 15px;
    font-weight: 500;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduates_Img {
    width: 250px;
    border-bottom: 5px solid #fb8f8f;
    border-right: 3px solid #fb8f8f;
    border-left: 3px solid #fb8f8f;
    height: 300px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_graduates {
    gap: 0;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_graduates {
    flex-direction: row;
    gap: 20px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateName {
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateDate {
    font-size: 10px;
    font-weight: 100;
    line-height: 12px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateBio {
    font-size: 10px;
    font-weight: 100;
    line-height: 12px;
  }
}

@media (width <= 480px) {
  .GraduatesMainContent-module-scss-module__0B39iW__content {
    gap: 5px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__nameInfo {
    gap: 5px;
    padding: 5px 0;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduates {
    grid-template-columns: 1fr;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_title {
    font-size: 14px;
    font-weight: 500;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__titleText {
    font-size: 12px;
    font-weight: 400;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduates_Img {
    width: 200px;
    height: 250px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_graduates {
    gap: 0;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_graduates {
    flex-direction: row;
    gap: 15px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateName {
    font-size: 20px;
    font-weight: 300;
    line-height: 15px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateDate {
    font-size: 7px;
    font-weight: 100;
    line-height: 10px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateBio {
    font-size: 7px;
    font-weight: 100;
    line-height: 10px;
  }
}

@media (width <= 380px) {
  .GraduatesMainContent-module-scss-module__0B39iW__content {
    gap: 3px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__nameInfo {
    gap: 3px;
    padding: 3px 0;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduates {
    grid-template-columns: 1fr;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_title {
    font-size: 12px;
    font-weight: 400;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__titleText {
    font-size: 10px;
    font-weight: 300;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduates_Img {
    width: 150px;
    height: 200px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_graduates {
    gap: 0;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__mainContent_graduates {
    flex-direction: row;
    gap: 13px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateName {
    font-size: 17px;
    font-weight: 300;
    line-height: 13px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateDate {
    font-size: 5px;
    font-weight: 100;
    line-height: 7px;
  }

  .GraduatesMainContent-module-scss-module__0B39iW__graduateBio {
    font-size: 5px;
    font-weight: 100;
    line-height: 7px;
  }
}


/* [project]/src/appPages/site/components/pages/GraduatesPage.module.scss.module.css [app-client] (css) */
.GraduatesPage-module-scss-module__NDlmPW__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 30px;
  gap: 60px;
}

.GraduatesPage-module-scss-module__NDlmPW__graduatesTable {
  padding: 0 0 20px;
}


/*# sourceMappingURL=src_appPages_site_components_pages_fbaa6e._.css.map*/
