/* [project]/src/appPages/site/components/pages/home/HeroContent/HeroContent.module.scss.module.css [app-ssr] (css) */
#HeroContent-module-scss-module__hIQxgW__content {
  background: url("/_next/static/media/6W3A8933.8c6b6a8e.JPG") center / cover no-repeat;
  min-height: 100vh;
  position: relative;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__content {
  padding-top: 80px;
  position: absolute;
  bottom: 25px;
  z-index: 2;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage img {
  position: absolute;
  top: -10px;
  border: 4px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text {
  padding-top: 150px;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 10px;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
  font-weight: 700;
  font-size: 48px !important;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
  font-size: 30px;
  font-weight: 200;
}

#HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__subtext {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #56397bd2;
  padding: 96px;
}

@media (width <= 768px) {
  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text {
    padding: 0;
    text-align: center;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
    font-size: 56px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
    font-size: 36px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage {
    display: flex;
    justify-content: center;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage img {
    top: -200px !important;
    width: 200px !important;
    height: 200px !important;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__subtext {
    padding: 170px !important;
  }
}

@media (width <= 430px) {
  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage {
    display: flex;
    justify-content: center;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage img {
    top: -130px !important;
    width: 150px !important;
    height: 150px !important;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text {
    padding: 0;
    text-align: center;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
    font-size: 26px !important;
    padding-top: 10px !important;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
    font-size: 20px !important;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__subtext {
    padding: 110px !important;
  }
}

@media (width <= 320px) {
  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage {
    display: flex;
    justify-content: center;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage img {
    top: -74px !important;
    width: 100px !important;
    height: 100px !important;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text {
    padding-top: 20px !important;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
    font-size: 20px !important;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
    font-size: 16px !important;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__subtext {
    padding: 88px !important;
  }
}

@media (width <= 884px) {
  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text {
    padding: 20px;
    text-align: center;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h1 {
    font-size: 64px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__text h2 {
    font-size: 42px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage {
    display: flex;
    justify-content: center;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__profileImage img {
    top: -240px;
    width: 200px;
    height: 200px;
  }

  #HeroContent-module-scss-module__hIQxgW__content .HeroContent-module-scss-module__hIQxgW__subtext {
    padding: 190px;
  }
}

/*# sourceMappingURL=53c79_site_components_pages_home_HeroContent_HeroContent_module_scss_module_31ffea.css.map*/