/* [project]/src/appPages/site/components/pages/home/GraduatesContent/GraduatesContent.module.scss.module.css [app-ssr] (css) */
.GraduatesContent-module-scss-module__P-UWEG__content {
  background-color: #fff6f6;
  padding: 50px 0;
}

.GraduatesContent-module-scss-module__P-UWEG__content h1 {
  color: #333;
  text-align: center;
  margin-bottom: 4px;
}

.GraduatesContent-module-scss-module__P-UWEG__content hr {
  width: 40px;
  height: 2px;
  background: #6a00a1;
  border: none;
  border-radius: 12px;
  margin: 0 auto 50px;
}

.GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__title {
  flex: 1;
  font-family: Roboto, sans-serif;
  color: #333;
}

.GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__title p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__title span {
  font-style: italic;
  display: block;
  font-size: .9rem;
  font-weight: 300;
  color: #6a6a6a;
  margin-bottom: 40px;
}

.GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__wrapper svg {
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
  transition: color .3s;
}

.GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__wrapper svg:hover {
  color: #000;
}

.GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__image {
  flex-shrink: 0;
  width: 340px;
  height: 400px;
  box-shadow: 0 4px 15px #0000001a;
  overflow: hidden;
  border-radius: 8px;
}

.GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__image img {
  width: 100%;
  box-shadow: 0 4px 15px #0000001a;
  object-fit: cover;
  height: 100%;
}

@media (width <= 884px) {
  .GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent {
    flex-direction: column-reverse;
    align-items: center;
  }

  .GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__title {
    text-align: center;
  }

  .GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__title p {
    font-size: 1.2rem;
  }

  .GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__wrapper {
    justify-content: center;
    margin-top: 20px;
  }

  .GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__image {
    width: 100%;
    max-width: 340px;
    height: auto;
    aspect-ratio: 1;
  }

  .GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__image img {
    width: 100%;
    height: 100%;
  }
}

@media (width <= 430px) {
  .GraduatesContent-module-scss-module__P-UWEG__content {
    padding: 30px 0;
  }

  .GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__title p {
    font-size: 1rem;
  }

  .GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__image {
    max-width: 280px;
  }

  .GraduatesContent-module-scss-module__P-UWEG__content .GraduatesContent-module-scss-module__P-UWEG__graduateContent .GraduatesContent-module-scss-module__P-UWEG__image img {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=9cda6_pages_home_GraduatesContent_GraduatesContent_module_scss_module_31ffea.css.map*/