/* [project]/src/appPages/site/components/pages/gallery/GalleryMainContent/GalleryMainContent.module.scss.module.css [app-ssr] (css) */
.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent {
  margin: 80px 0;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__galleryHead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  margin-bottom: 20px;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__galleryHead h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__galleryHead hr {
  width: 40px;
  height: 2px;
  background: #333;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card .GalleryMainContent-module-scss-module__pSxGZW__galleryItem span {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card .GalleryMainContent-module-scss-module__pSxGZW__galleryItem span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform .3s;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card .GalleryMainContent-module-scss-module__pSxGZW__galleryItem span img:hover {
  transform: scale(1.05);
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__zoomedImageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__zoomedImageWrapper {
  position: relative;
  width: 90%;
  height: 80%;
  max-width: 1200px;
  max-height: 800px;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff4d;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__navButton:hover {
  background: #ffffff80;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__prevButton {
  left: 10px;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__nextButton {
  right: 10px;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ffffff4d;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__closeButton:hover {
  background: #ffffff80;
}

.GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__imageCaption {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  max-width: 90%;
  padding: 0 10px;
}

@media (width >= 320px) {
  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card .GalleryMainContent-module-scss-module__pSxGZW__galleryItem img {
    width: 100%;
    height: 130px;
    max-width: 320px;
  }
}

@media (width >= 360px) {
  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card .GalleryMainContent-module-scss-module__pSxGZW__galleryItem img {
    width: 100%;
    height: 130px;
    max-width: 320px;
  }
}

@media (width >= 375px) {
  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card {
    gap: 20px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card .GalleryMainContent-module-scss-module__pSxGZW__galleryItem img {
    width: 198px;
    height: 126px;
  }
}

@media (width >= 768px) {
  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__galleryHead h1 {
    font-size: 24px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card .GalleryMainContent-module-scss-module__pSxGZW__galleryItem img {
    width: 234px;
    height: 170px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__zoomedImageWrapper {
    width: 95%;
    height: 70%;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__navButton {
    width: 30px;
    height: 30px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__closeButton {
    width: 25px;
    height: 25px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__imageCaption {
    font-size: 12px;
  }
}

@media (width >= 992px) {
  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card {
    gap: 28px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card .GalleryMainContent-module-scss-module__pSxGZW__galleryItem img {
    width: 300px;
    height: 190px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__navButton {
    width: 50px;
    height: 50px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__closeButton {
    width: 40px;
    height: 40px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__imageCaption {
    font-size: 16px;
  }
}

@media (width >= 1200px) {
  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px;
  }

  .GalleryMainContent-module-scss-module__pSxGZW__GalleryMainContent .GalleryMainContent-module-scss-module__pSxGZW__content .GalleryMainContent-module-scss-module__pSxGZW__gallery_card .GalleryMainContent-module-scss-module__pSxGZW__galleryItem img {
    width: 360px;
    height: 250px;
  }
}

/*# sourceMappingURL=9cda6_pages_gallery_GalleryMainContent_GalleryMainContent_module_scss_module_31ffea.css.map*/