/* [project]/src/appPages/site/components/pages/students/OlympaidTable/OlympaidTable.module.scss.module.css [app-ssr] (css) */
.OlympaidTable-module-scss-module__4MJNkq__content {
  padding-top: 100px;
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.OlympaidTable-module-scss-module__4MJNkq__titleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.OlympaidTable-module-scss-module__4MJNkq__tableTitle {
  display: grid;
  grid-template-columns: .3fr 3fr .3fr .3fr .3fr;
  gap: 120px;
  width: 100%;
}

.OlympaidTable-module-scss-module__4MJNkq__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.OlympaidTable-module-scss-module__4MJNkq__error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  width: 100%;
  text-align: center;
}

.OlympaidTable-module-scss-module__4MJNkq__studentInfo {
  display: grid;
  width: 100%;
  grid-template-columns: .3fr 3fr .3fr .3fr .3fr;
  gap: 120px;
}

.OlympaidTable-module-scss-module__4MJNkq__tableText {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  color: #666;
  text-align: left;
}

.OlympaidTable-module-scss-module__4MJNkq__tableContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.OlympaidTable-module-scss-module__4MJNkq__levelText {
  font-size: 20px;
  width: 130px;
  font-weight: 600;
  line-height: 27.24px;
  color: #666;
  text-align: left;
}

.OlympaidTable-module-scss-module__4MJNkq__tableYear {
  font-size: 20px;
  width: 50px;
  font-weight: 600;
  line-height: 27.24px;
  color: #666;
  text-align: left;
}

.OlympaidTable-module-scss-module__4MJNkq__tablePlace {
  font-size: 20px;
  width: 20px;
  font-weight: 600;
  line-height: 27.24px;
  color: #666;
  text-align: left;
}

.OlympaidTable-module-scss-module__4MJNkq__levelTitleText {
  font-size: 20px;
  width: 130px;
  font-weight: 600;
  line-height: 27.24px;
  color: #afafaf;
  text-align: left;
}

.OlympaidTable-module-scss-module__4MJNkq__titleYear {
  font-size: 20px;
  width: 50px;
  font-weight: 600;
  line-height: 27.24px;
  color: #afafaf;
  text-align: left;
}

.OlympaidTable-module-scss-module__4MJNkq__titlePlace {
  font-size: 20px;
  width: 20px;
  font-weight: 600;
  line-height: 27.24px;
  color: #afafaf;
  text-align: left;
}

.OlympaidTable-module-scss-module__4MJNkq__tableTextNumber {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
  color: #000;
}

.OlympaidTable-module-scss-module__4MJNkq__nameContent {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.OlympaidTable-module-scss-module__4MJNkq__tableName {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: center;
  color: #666;
  gap: 10px;
}

@keyframes OlympaidTable-module-scss-module__4MJNkq__fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.OlympaidTable-module-scss-module__4MJNkq__title {
  animation: .7s ease-out OlympaidTable-module-scss-module__4MJNkq__fadeIn;
}

@keyframes OlympaidTable-module-scss-module__4MJNkq__slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft {
  animation: 1s ease-out forwards OlympaidTable-module-scss-module__4MJNkq__slideInFromLeft;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:first-child {
  animation-delay: .1s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(2) {
  animation-delay: .3s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(3) {
  animation-delay: .6s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(4) {
  animation-delay: .9s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(5) {
  animation-delay: .12s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(6) {
  animation-delay: .15s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(7) {
  animation-delay: .18s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(8) {
  animation-delay: .21s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(9) {
  animation-delay: .24s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(10) {
  animation-delay: .27s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(11) {
  animation-delay: .3s;
}

.OlympaidTable-module-scss-module__4MJNkq__animateFromLeft:nth-child(12) {
  animation-delay: .33s;
}

.OlympaidTable-module-scss-module__4MJNkq__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: center;
  color: #000;
  position: relative;
}

.OlympaidTable-module-scss-module__4MJNkq__title:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  border-bottom: 2px solid #000;
}

.OlympaidTable-module-scss-module__4MJNkq__table {
  padding: 40px 0 0;
}

.OlympaidTable-module-scss-module__4MJNkq__studentIcon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.OlympaidTable-module-scss-module__4MJNkq__isLoadingBlock {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.OlympaidTable-module-scss-module__4MJNkq__errorBlock {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

@media (width <= 1140px) {
  .OlympaidTable-module-scss-module__4MJNkq__tableTitle {
    display: grid;
    gap: 90px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentInfo {
    display: grid;
    padding: 2px 0;
    gap: 90px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titleText {
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableText {
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableTextNumber {
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableName {
    font-weight: 500;
  }
}

@media (width <= 885px) {
  .OlympaidTable-module-scss-module__4MJNkq__table {
    padding: 30px 0 0;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableTitle {
    display: grid;
    gap: 60px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentInfo {
    display: grid;
    padding: 2px 0;
    gap: 60px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__levelText {
    width: 100px;
    font-size: 18px;
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titleText {
    font-size: 18px;
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableYear {
    width: 40px;
    font-size: 18px;
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tablePlace {
    width: 15px;
    font-size: 18px;
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__levelTitleText {
    width: 100px;
    font-size: 18px;
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titleYear {
    width: 40px;
    font-size: 18px;
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titlePlace {
    font-size: 18px;
    font-weight: 500;
    width: 15px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableText {
    padding: 0 5px 0 0;
    font-size: 18px;
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableTextNumber {
    font-size: 18px;
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableName {
    font-size: 18px;
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentIcon {
    width: 25px;
    height: 25px;
  }
}

@media (width <= 801px) {
  .OlympaidTable-module-scss-module__4MJNkq__tableTitle {
    gap: 40px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentInfo {
    gap: 40px;
  }
}

@media (width <= 530px) {
  .OlympaidTable-module-scss-module__4MJNkq__tableContent {
    gap: 0;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titleText {
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableText {
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableTextNumber {
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableName {
    font-weight: 500;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentIcon {
    width: 15px;
    height: 15px;
  }
}

@media (width <= 430px) {
  .OlympaidTable-module-scss-module__4MJNkq__nameContent {
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableName {
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__table {
    padding: 30px 0 0;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableTitle {
    display: grid;
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentInfo {
    display: grid;
    padding: 2px 0;
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__levelText {
    width: 80px;
    font-size: 10px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titleText {
    font-size: 10px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__content {
    padding-top: 70px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__title {
    font-size: 16px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableYear {
    width: 40px;
    font-size: 10px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tablePlace {
    width: 7px;
    font-size: 10px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__levelTitleText {
    width: 80px;
    font-size: 10px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titleYear {
    width: 40px;
    font-size: 10px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titlePlace {
    font-size: 10px;
    font-weight: 400;
    width: 7px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableText {
    padding: 0 5px 0 0;
    font-size: 10px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableTextNumber {
    font-size: 10px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableName {
    font-size: 10px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentIcon {
    width: 15px;
    height: 15px;
  }
}

@media (width <= 361px) {
  .OlympaidTable-module-scss-module__4MJNkq__nameContent {
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableName {
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__table {
    padding: 30px 0 0;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableTitle {
    display: grid;
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentInfo {
    display: grid;
    padding: 2px 0;
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__levelText {
    width: 60px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titleText {
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__content {
    padding-top: 70px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__title {
    font-size: 15px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableYear {
    width: 30px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tablePlace {
    width: 4px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__levelTitleText {
    width: 60px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titleYear {
    width: 30px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titlePlace {
    font-weight: 400;
    width: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableText {
    padding: 0 5px 0 0;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableTextNumber {
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableName {
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentIcon {
    width: 15px;
    height: 15px;
  }
}

@media (width <= 361px) {
  .OlympaidTable-module-scss-module__4MJNkq__nameContent {
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableName {
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__table {
    padding: 30px 0 0;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableTitle {
    display: grid;
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentInfo {
    display: grid;
    padding: 2px 0;
    gap: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__levelText {
    width: 60px;
    font-size: 9px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titleText {
    font-size: 9px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__content {
    padding-top: 70px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__title {
    font-size: 15px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableYear {
    width: 30px;
    font-size: 9px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tablePlace {
    width: 4px;
    font-size: 9px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__levelTitleText {
    width: 60px;
    font-size: 9px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titleYear {
    width: 30px;
    font-size: 9px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__titlePlace {
    font-size: 9px;
    font-weight: 400;
    width: 5px;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableText {
    padding: 0 5px 0 0;
    font-size: 9px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableTextNumber {
    font-size: 9px;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__tableName {
    font-size: 9чpx;
    font-weight: 400;
  }

  .OlympaidTable-module-scss-module__4MJNkq__studentIcon {
    width: 15px;
    height: 15px;
  }
}

/*# sourceMappingURL=e3fed_components_pages_students_OlympaidTable_OlympaidTable_module_scss_module_31ffea.css.map*/