/* [project]/src/appPages/site/components/layout/header/Header.module.scss.module.css [app-ssr] (css) */
.Header-module-scss-module__kft5ua__header {
  background-color: #4d2c5ebb;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  color: #e7e5e5;
  display: block;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__logo img {
  width: 37px;
  height: 37px;
  object-fit: contain;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #5848d1;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav.Header-module-scss-module__kft5ua__active {
  display: block;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav ul li {
  border-bottom: 1px solid #ffffff1a;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav ul li:last-child {
  border-bottom: none;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav ul li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: background-color .3s;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav ul li a:hover {
  background-color: #ffffff1a;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__rightSection {
  display: flex;
  align-items: center;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search {
  display: none;
  align-items: center;
  margin-right: 15px;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search input {
  padding: 10px;
  border: 2px solid #fff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: none;
  font-size: 14px;
  background: #fff7;
  outline: none;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search input:active, .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search input:focus {
  background: none;
  color: #fff;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search input::placeholder {
  color: #fff;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search .Header-module-scss-module__kft5ua__searchBtn {
  background-color: #fff7;
  border: 2px solid #fff;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-left: none;
  padding: 11px 18px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d2c5ebb;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__language {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__language button {
  background: none;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  transition: opacity .3s;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__language button:hover {
  opacity: .8;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__auth button {
  background-color: #4d2c5e;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: opacity .3s;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__auth button:hover {
  opacity: .8;
}

@media (width >= 768px) {
  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__hamburger {
    display: none;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav {
    display: block;
    position: static;
    background-color: #0000;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav ul {
    display: flex;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav ul li {
    border-bottom: none;
    margin-right: 20px;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav ul li:last-child {
    margin-right: 0;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav ul li a {
    padding: 0;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav ul li a:hover {
    background-color: #0000;
    opacity: .8;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search {
    display: flex;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__auth {
    display: block;
  }
}

@media (width <= 767px) {
  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__content {
    padding: 0 10px;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search {
    display: none;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav {
    display: none;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav.Header-module-scss-module__kft5ua__active {
    display: block;
  }
}

@media (width <= 430px) {
  .Header-module-scss-module__kft5ua__header {
    position: absolute;
    background: none;
    top: 10px;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav {
    background: #8b54a77a;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__content {
    align-items: center;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__logo {
    display: none;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__language {
    background: #8b54a77a;
    border: 1px solid #4d2c5e;
    color: #fff;
    border-radius: 8px;
    padding: 8px 14px;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__auth button {
    padding: 14px 24px;
    border-radius: 10px;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__hamburger {
    font-size: 2rem;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search {
    display: none;
  }
}

@media (width <= 320px) {
  .Header-module-scss-module__kft5ua__header {
    position: absolute;
    background: none;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav a {
    font-size: 14px;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__hamburger {
    font-size: 1.8rem;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__logo {
    display: none;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__auth button {
    padding: 8px 16px;
    border-radius: 10px;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__language {
    background: #8b54a77a;
    border: 1px solid #4d2c5e;
    color: #fff;
    border-radius: 8px;
    padding: 2px 8px;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search {
    display: none;
  }
}

@media (width >= 1024px) {
  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__content {
    justify-content: flex-start;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__logo {
    margin-right: 30px;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav {
    margin-right: auto;
  }

  .Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__rightSection {
    margin-left: auto;
  }
}


/*# sourceMappingURL=src_appPages_site_components_layout_header_Header_module_scss_module_9db410.css.map*/
