/* [project]/src/appPages/site/components/pages/StudentsPage.module.scss.module.css [app-ssr] (css) */
.StudentsPage-module-scss-module__-bpeuG__StudentsPage {
  padding: 0 0 80px;
}

.StudentsPage-module-scss-module__-bpeuG__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0 0;
  gap: 50px;
}

.StudentsPage-module-scss-module__-bpeuG__link {
  color: #000;
  text-decoration: none;
}

.StudentsPage-module-scss-module__-bpeuG__blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.StudentsPage-module-scss-module__-bpeuG__heroContent {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: flex-direction .3s;
}

@media (width <= 1190px) {
  .StudentsPage-module-scss-module__-bpeuG__heroContent {
    gap: 20px;
  }
}

@media (width <= 1140px) {
  .StudentsPage-module-scss-module__-bpeuG__heroContent {
    gap: 18px;
  }
}

@media (width <= 1100px) {
  .StudentsPage-module-scss-module__-bpeuG__heroContent {
    flex-direction: column;
  }

  .StudentsPage-module-scss-module__-bpeuG__blocks {
    order: 0;
    gap: 10px;
  }

  .StudentsPage-module-scss-module__-bpeuG__StudentsMainContent {
    order: 1;
  }

  .StudentsPage-module-scss-module__-bpeuG__Title {
    font-size: 20px;
  }
}


/* [project]/src/appPages/site/components/pages/students/[school_class__grade=]/StudentsMainContent.module.scss.module.css [app-ssr] (css) */
.StudentsMainContent-module-scss-module__1_QJaq__classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.StudentsMainContent-module-scss-module__1_QJaq__block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 277px;
  height: 69px;
  border-radius: 7px;
  text-align: center;
  border: 3px solid #ffe5e5;
  cursor: pointer;
  transition: all .3s;
  text-decoration: none;
}

.StudentsMainContent-module-scss-module__1_QJaq__block:hover {
  background: #fff6f6;
  border: 3px solid #ffd3d3;
}

.StudentsMainContent-module-scss-module__1_QJaq__block_text {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
}

@media (width <= 1190px) {
  .StudentsMainContent-module-scss-module__1_QJaq__block {
    width: 257px;
    height: 59px;
  }

  .StudentsMainContent-module-scss-module__1_QJaq__block_text {
    font-size: 22px;
    font-weight: 600;
    line-height: 28.8px;
  }
}

@media (width <= 1140px) {
  .StudentsMainContent-module-scss-module__1_QJaq__block {
    width: 247px;
    height: 50px;
  }

  .StudentsMainContent-module-scss-module__1_QJaq__block_text {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.8px;
  }
}

@media (width <= 1100px) {
  .StudentsMainContent-module-scss-module__1_QJaq__block {
    width: 140px;
    height: 49px;
  }

  .StudentsMainContent-module-scss-module__1_QJaq__block_text {
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
  }

  .StudentsMainContent-module-scss-module__1_QJaq__classes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

@media (width <= 615px) {
  .StudentsMainContent-module-scss-module__1_QJaq__block {
    width: 130px;
    height: 35px;
    border-radius: 4px;
  }

  .StudentsMainContent-module-scss-module__1_QJaq__block_text {
    font-size: 13px;
    font-weight: 400;
    line-height: 28.8px;
  }

  .StudentsMainContent-module-scss-module__1_QJaq__classes {
    gap: 20px;
  }
}

@media (width <= 474px) {
  .StudentsMainContent-module-scss-module__1_QJaq__block {
    width: 110px;
    height: 28px;
  }

  .StudentsMainContent-module-scss-module__1_QJaq__block_text {
    font-size: 11px;
    font-weight: 400;
    line-height: 28.8px;
  }

  .StudentsMainContent-module-scss-module__1_QJaq__classes {
    gap: 20px;
  }
}

@media (width <= 430px) {
  .StudentsMainContent-module-scss-module__1_QJaq__block {
    width: 84px;
    height: 20px;
  }

  .StudentsMainContent-module-scss-module__1_QJaq__block_text {
    font-size: 9px;
    font-weight: 400;
    line-height: 28.8px;
  }

  .StudentsMainContent-module-scss-module__1_QJaq__classes {
    gap: 15px;
  }
}


/* [project]/src/appPages/site/components/pages/students/StudentsOlympiad/StudentsOlympiad.module.scss.module.css [app-ssr] (css) */
.StudentsOlympiad-module-scss-module__5sgsaa__content {
  display: flex;
  align-items: center;
}

.StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
  width: 249px;
  height: 324px;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(#fff0 0%, #000000b3 80%), url("/_next/static/media/studnets_olimpic.15cf5f64.svg");
  background-size: cover;
  background-position: center;
}

.StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
  display: flex;
  font-size: 26px;
  color: #fff;
  height: 100%;
  text-decoration: none;
  text-align: left;
}

@media (width <= 1100px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 276px;
    height: 164px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    align-items: flex-end;
    justify-content: center;
  }
}

@media (width <= 615px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 206px;
    height: 114px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 14px;
  }
}

@media (width <= 474px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 186px;
    height: 104px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 12px;
  }
}

@media (width <= 430px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 130px;
    height: 84px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 8px;
  }
}


/* [project]/src/appPages/site/components/pages/students/StudentsParliament/StudentsParliament.module.scss.module.css [app-ssr] (css) */
.StudentsParliament-module-scss-module__3Rn5_G__content {
  display: flex;
  align-items: center;
}

.StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
  width: 249px;
  height: 324px;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(#fff0 0%, #000000b3 80%), url("/_next/static/media/students_parlament.28762b3d.svg");
  background-size: cover;
  background-position: center;
}

.StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
  display: flex;
  font-size: 26px;
  color: #fff;
  height: 100%;
  text-decoration: none;
  text-align: left;
}

@media (width <= 1100px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 276px;
    height: 164px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    align-items: flex-end;
    justify-content: center;
  }
}

@media (width <= 615px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 206px;
    height: 114px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 14px;
  }
}

@media (width <= 474px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 186px;
    height: 104px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 12px;
  }
}

@media (width <= 430px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 130px;
    height: 84px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 8px;
  }
}


/* [project]/src/appPages/site/components/pages/students/StudentsClassTable/StudentsClassTable.module.scss.module.css [app-ssr] (css) */
.StudentsClassTable-module-scss-module__cH9Lta__content {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.StudentsClassTable-module-scss-module__cH9Lta__titleBlock {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.StudentsClassTable-module-scss-module__cH9Lta__button {
  outline: none;
  font-size: 18px;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  color: #000;
}

.StudentsClassTable-module-scss-module__cH9Lta__button:hover {
  background: #e2e2e2;
}

.StudentsClassTable-module-scss-module__cH9Lta__filterButtons {
  background: #f3f3f3;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.StudentsClassTable-module-scss-module__cH9Lta__tableTitle {
  display: grid;
  grid-template-columns: .3fr 2fr .5fr 1fr;
  gap: 50px;
}

.StudentsClassTable-module-scss-module__cH9Lta__studentInfo {
  display: grid;
  grid-template-columns: .3fr 2fr .5fr 1fr;
  gap: 50px;
}

.StudentsClassTable-module-scss-module__cH9Lta__titleText {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
  color: #afafaf;
}

.StudentsClassTable-module-scss-module__cH9Lta__tableText {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
  color: #666;
  display: flex;
  align-items: center;
}

.StudentsClassTable-module-scss-module__cH9Lta__tableContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.StudentsClassTable-module-scss-module__cH9Lta__tableTextNumber {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
  display: flex;
  align-items: center;
  color: #000;
}

.StudentsClassTable-module-scss-module__cH9Lta__tableName {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
  color: #666;
  gap: 10px;
}

.StudentsClassTable-module-scss-module__cH9Lta__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: center;
  color: #000;
  position: relative;
}

.StudentsClassTable-module-scss-module__cH9Lta__title:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  border-bottom: 2px solid #000;
}

.StudentsClassTable-module-scss-module__cH9Lta__loading {
  width: 100%;
  text-align: center;
}

.StudentsClassTable-module-scss-module__cH9Lta__error {
  width: 100%;
  text-align: center;
}

.StudentsClassTable-module-scss-module__cH9Lta__table {
  padding: 40px 0 0;
}

.StudentsClassTable-module-scss-module__cH9Lta__studentIcon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.StudentsClassTable-module-scss-module__cH9Lta__isLoadingBlock {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

@media (width <= 1140px) {
  .StudentsClassTable-module-scss-module__cH9Lta__tableTitle {
    display: grid;
    grid-template-columns: .1fr 1.5fr .4fr 1fr;
    gap: 10px;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__title {
    font-size: 20px;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__studentInfo {
    display: grid;
    grid-template-columns: .1fr 1.5fr .4fr 1fr;
    gap: 10px;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__titleText {
    font-size: 15px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableText {
    font-size: 15px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableTextNumber {
    font-size: 15px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableName {
    font-size: 15px;
    font-weight: 500;
  }
}

@media (width <= 1140px) {
  .StudentsClassTable-module-scss-module__cH9Lta__tableTitle {
    display: grid;
    grid-template-columns: .1fr 1.5fr .4fr 1fr;
    gap: 10px;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__title {
    font-size: 20px;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__studentInfo {
    display: grid;
    grid-template-columns: .1fr 1.5fr .4fr 1fr;
    gap: 10px;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__titleText {
    font-size: 15px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableText {
    font-size: 15px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableTextNumber {
    font-size: 15px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableName {
    font-size: 15px;
    font-weight: 500;
  }
}

@media (width <= 740px) {
  .StudentsClassTable-module-scss-module__cH9Lta__title {
    font-size: 15px;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__titleText {
    font-size: 12px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableText {
    font-size: 12px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableTextNumber {
    font-size: 12px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableName {
    font-size: 12px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__studentIcon {
    width: 25px;
    height: 25px;
  }
}

@media (width <= 680px) {
  .StudentsClassTable-module-scss-module__cH9Lta__tableContent {
    gap: 8px;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__titleText {
    font-size: 10px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableText {
    font-size: 10px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableTextNumber {
    font-size: 10px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableName {
    font-size: 10px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__studentIcon {
    width: 20px;
    height: 20px;
  }
}

@media (width <= 530px) {
  .StudentsClassTable-module-scss-module__cH9Lta__tableContent {
    gap: 0;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__titleText {
    font-size: 10px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableText {
    font-size: 10px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableTextNumber {
    font-size: 10px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableName {
    font-size: 10px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__studentIcon {
    width: 15px;
    height: 15px;
  }
}

@media (width <= 440px) {
  .StudentsClassTable-module-scss-module__cH9Lta__titleText {
    font-size: 8px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableText {
    font-size: 8px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableTextNumber {
    font-size: 8px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__tableName {
    font-size: 8px;
    font-weight: 500;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__studentIcon {
    width: 10px;
    height: 10px;
  }

  .StudentsClassTable-module-scss-module__cH9Lta__title {
    font-size: 13px;
  }
}


/*# sourceMappingURL=src_appPages_site_components_pages_a63a9b._.css.map*/
