/* [project]/src/appPages/site/components/pages/StudentsPage.module.scss.module.css [app-ssr] (css) */
.StudentsPage-module-scss-module__-bpeuG__StudentsPage {
  padding: 0 0 80px;
}

.StudentsPage-module-scss-module__-bpeuG__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0 0;
  gap: 50px;
}

.StudentsPage-module-scss-module__-bpeuG__link {
  color: #000;
  text-decoration: none;
}

.StudentsPage-module-scss-module__-bpeuG__blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.StudentsPage-module-scss-module__-bpeuG__heroContent {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: flex-direction .3s;
}

@media (width <= 1190px) {
  .StudentsPage-module-scss-module__-bpeuG__heroContent {
    gap: 20px;
  }
}

@media (width <= 1140px) {
  .StudentsPage-module-scss-module__-bpeuG__heroContent {
    gap: 18px;
  }
}

@media (width <= 1100px) {
  .StudentsPage-module-scss-module__-bpeuG__heroContent {
    flex-direction: column;
  }

  .StudentsPage-module-scss-module__-bpeuG__blocks {
    order: 0;
    gap: 10px;
  }

  .StudentsPage-module-scss-module__-bpeuG__StudentsMainContent {
    order: 1;
  }

  .StudentsPage-module-scss-module__-bpeuG__Title {
    font-size: 20px;
  }
}


/* [project]/src/appPages/site/components/pages/students/[StudentsMainContent]/StudentsMainContent.module.scss.module.css [app-ssr] (css) */
/* unparseable [project]/src/appPages/site/components/pages/students/[StudentsMainContent]/StudentsMainContent.module.scss.module.css [app-ssr] (css) */

/* [project]/src/appPages/site/components/pages/students/StudentsOlympiad/StudentsOlympiad.module.scss.module.css [app-ssr] (css) */
.StudentsOlympiad-module-scss-module__5sgsaa__content {
  display: flex;
  align-items: center;
}

.StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
  width: 249px;
  height: 324px;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(#fff0 0%, #000000b3 80%), url("/_next/static/media/studnets_olimpic.15cf5f64.svg");
  background-size: cover;
  background-position: center;
}

.StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
  display: flex;
  font-size: 26px;
  color: #fff;
  height: 100%;
  text-decoration: none;
  text-align: left;
}

@media (width <= 1100px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 276px;
    height: 164px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    align-items: flex-end;
    justify-content: center;
  }
}

@media (width <= 615px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 206px;
    height: 114px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 14px;
  }
}

@media (width <= 474px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 186px;
    height: 104px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 12px;
  }
}

@media (width <= 430px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 130px;
    height: 84px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 8px;
  }
}


/* [project]/src/appPages/site/components/pages/students/StudentsParliament/StudentsParliament.module.scss.module.css [app-ssr] (css) */
.StudentsParliament-module-scss-module__3Rn5_G__content {
  display: flex;
  align-items: center;
}

.StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
  width: 249px;
  height: 324px;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(#fff0 0%, #000000b3 80%), url("/_next/static/media/students_parlament.28762b3d.svg");
  background-size: cover;
  background-position: center;
}

.StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
  display: flex;
  font-size: 26px;
  color: #fff;
  height: 100%;
  text-decoration: none;
  text-align: left;
}

@media (width <= 1100px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 276px;
    height: 164px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    align-items: flex-end;
    justify-content: center;
  }
}

@media (width <= 615px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 206px;
    height: 114px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 14px;
  }
}

@media (width <= 474px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 186px;
    height: 104px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 12px;
  }
}

@media (width <= 430px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 130px;
    height: 84px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 8px;
  }
}


/*# sourceMappingURL=src_appPages_site_components_pages_2399ab._.css.map*/
