/* [project]/src/appPages/site/components/pages/StudentsPage.module.scss.module.css [app-ssr] (css) */
.StudentsPage-module-scss-module__-bpeuG__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 60px;
}

@keyframes StudentsPage-module-scss-module__-bpeuG__fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.StudentsPage-module-scss-module__-bpeuG__Title {
  animation: .7s ease-out StudentsPage-module-scss-module__-bpeuG__fadeIn;
}

.StudentsPage-module-scss-module__-bpeuG__link {
  color: #000;
  text-decoration: none;
}

.StudentsPage-module-scss-module__-bpeuG__blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.StudentsPage-module-scss-module__-bpeuG__StudentsPage {
  padding: 2rem 0;
  background-color: #f5f5f5;
}

.StudentsPage-module-scss-module__-bpeuG__container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.StudentsPage-module-scss-module__-bpeuG__heroContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.StudentsPage-module-scss-module__-bpeuG__StudentsMainContent, .StudentsPage-module-scss-module__-bpeuG__blocks {
  opacity: 0;
  transform: translateX(-5%);
  transition: opacity .5s ease-out, transform .5s ease-out;
}

.StudentsPage-module-scss-module__-bpeuG__StudentsMainContent {
  transition-delay: .5s;
}

.StudentsPage-module-scss-module__-bpeuG__blocks {
  transform: translateX(5%);
  transition-delay: .5s;
}

.StudentsPage-module-scss-module__-bpeuG__StudentsMainContent.StudentsPage-module-scss-module__-bpeuG__visible, .StudentsPage-module-scss-module__-bpeuG__blocks.StudentsPage-module-scss-module__-bpeuG__visible {
  opacity: 1;
  transform: translateX(0);
}

.StudentsPage-module-scss-module__-bpeuG__heroContent {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: flex-direction .3s;
}

@media (width <= 1190px) {
  .StudentsPage-module-scss-module__-bpeuG__heroContent {
    gap: 20px;
  }
}

@media (width <= 1140px) {
  .StudentsPage-module-scss-module__-bpeuG__heroContent {
    gap: 18px;
  }
}

@media (width <= 1100px) {
  .StudentsPage-module-scss-module__-bpeuG__heroContent {
    flex-direction: column;
  }

  .StudentsPage-module-scss-module__-bpeuG__blocks {
    order: 0;
    gap: 15px;
  }

  .StudentsPage-module-scss-module__-bpeuG__StudentsMainContent {
    order: 1;
  }

  .StudentsPage-module-scss-module__-bpeuG__Title {
    font-size: 25px;
  }
}

@media (width <= 890px) {
  .StudentsPage-module-scss-module__-bpeuG__content {
    gap: 30px;
  }

  .StudentsPage-module-scss-module__-bpeuG__blocks {
    order: 0;
  }

  .StudentsPage-module-scss-module__-bpeuG__StudentsMainContent {
    order: 1;
  }
}

@media (width <= 380px) {
  .StudentsPage-module-scss-module__-bpeuG__Title {
    font-size: 20px;
  }
}


/* [project]/src/appPages/site/components/pages/students/studentMainContent/StudentsMainContent.module.scss.module.css [app-ssr] (css) */
.StudentsMainContent-module-scss-module__aBXI1G__classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.StudentsMainContent-module-scss-module__aBXI1G__block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 277px;
  height: 69px;
  border-radius: 7px;
  text-align: center;
  transition: transform .3s, box-shadow .3s;
  border: 3px solid #ffe5e5;
  cursor: pointer;
  text-decoration: none;
}

.StudentsMainContent-module-scss-module__aBXI1G__block:nth-child(2n):hover {
  transform: translateX(10px);
  box-shadow: 10px 0 15px #0000004d;
}

.StudentsMainContent-module-scss-module__aBXI1G__block:nth-child(odd):hover {
  transform: translateX(-10px);
  box-shadow: -10px 0 15px #0000004d;
}

.StudentsMainContent-module-scss-module__aBXI1G__block:hover {
  transform: translateX(10px);
  background: #fff6f6;
  border: 3px solid #ffd3d3;
}

.StudentsMainContent-module-scss-module__aBXI1G__block_text {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
}

@media (width <= 1190px) {
  .StudentsMainContent-module-scss-module__aBXI1G__block {
    width: 257px;
    height: 59px;
  }

  .StudentsMainContent-module-scss-module__aBXI1G__block_text {
    font-size: 22px;
    font-weight: 600;
    line-height: 28.8px;
  }
}

@media (width <= 1140px) {
  .StudentsMainContent-module-scss-module__aBXI1G__block {
    width: 247px;
    height: 50px;
  }

  .StudentsMainContent-module-scss-module__aBXI1G__block_text {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.8px;
  }
}

@media (width <= 1100px) {
  .StudentsMainContent-module-scss-module__aBXI1G__block {
    width: 170px;
    height: 56px;
  }

  .StudentsMainContent-module-scss-module__aBXI1G__block_text {
    font-size: 22px;
    font-weight: 500;
    line-height: 28.8px;
  }

  .StudentsMainContent-module-scss-module__aBXI1G__classes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

@media (width <= 615px) {
  .StudentsMainContent-module-scss-module__aBXI1G__block:nth-child(2n):hover {
    transform: translateX(5px);
  }

  .StudentsMainContent-module-scss-module__aBXI1G__block:nth-child(odd):hover {
    transform: translateX(-5px);
  }

  .StudentsMainContent-module-scss-module__aBXI1G__block {
    width: 130px;
    height: 46px;
    border-radius: 4px;
  }

  .StudentsMainContent-module-scss-module__aBXI1G__block_text {
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
  }

  .StudentsMainContent-module-scss-module__aBXI1G__classes {
    gap: 20px;
  }
}

@media (width <= 474px) {
  .StudentsMainContent-module-scss-module__aBXI1G__block {
    width: 114px;
    height: 36px;
  }

  .StudentsMainContent-module-scss-module__aBXI1G__block_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
  }

  .StudentsMainContent-module-scss-module__aBXI1G__classes {
    gap: 20px;
  }
}

@media (width <= 430px) {
  .StudentsMainContent-module-scss-module__aBXI1G__block {
    width: 95px;
    height: 26px;
  }

  .StudentsMainContent-module-scss-module__aBXI1G__block_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 25.8px;
  }

  .StudentsMainContent-module-scss-module__aBXI1G__classes {
    gap: 15px;
  }
}


/* [project]/src/appPages/site/components/pages/students/StudentsOlympiad/StudentsOlympiad.module.scss.module.css [app-ssr] (css) */
.StudentsOlympiad-module-scss-module__5sgsaa__content {
  display: flex;
  align-items: center;
}

.StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
  width: 249px;
  height: 324px;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(#fff0 0%, #000000b3 80%), url("/_next/static/media/studnets_olimpic.15cf5f64.svg");
  background-size: cover;
  background-position: center;
  transition: transform .3s, box-shadow .3s;
}

.StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock:hover {
  box-shadow: 10px 0 15px #0000004d;
  transform: translateY(-10px);
}

.StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
  display: flex;
  font-size: 26px;
  color: #fff;
  height: 100%;
  text-decoration: none;
  text-align: left;
}

@media (width <= 1100px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 276px;
    height: 164px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    align-items: flex-end;
    justify-content: center;
  }
}

@media (width <= 615px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock:hover {
    transform: translateY(-5px);
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 206px;
    height: 114px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 14px;
  }
}

@media (width <= 474px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 186px;
    height: 104px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 12px;
  }
}

@media (width <= 430px) {
  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock {
    width: 150px;
    height: 94px;
  }

  .StudentsOlympiad-module-scss-module__5sgsaa__OlimpBlock_text {
    font-size: 10px;
  }
}


/* [project]/src/appPages/site/components/pages/students/StudentsParliament/StudentsParliament.module.scss.module.css [app-ssr] (css) */
.StudentsParliament-module-scss-module__3Rn5_G__content {
  display: flex;
  align-items: center;
}

.StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
  width: 249px;
  height: 324px;
  padding: 20px;
  transition: transform .3s, box-shadow .3s;
  box-shadow: 10px 0 15px #0000004d;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(#fff0 0%, #000000b3 80%), url("/_next/static/media/students_parlament.28762b3d.svg");
  background-size: cover;
  background-position: center;
}

.StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock:hover {
  box-shadow: 10px 0 15px #0000004d;
  transform: translateY(-10px);
}

.StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
  display: flex;
  font-size: 26px;
  color: #fff;
  height: 100%;
  text-decoration: none;
  text-align: left;
}

@media (width <= 1100px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 276px;
    height: 164px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    align-items: flex-end;
    justify-content: center;
  }
}

@media (width <= 615px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 206px;
    height: 114px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 14px;
  }
}

@media (width <= 474px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock:hover {
    transform: translateY(-5px);
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 186px;
    height: 104px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 12px;
  }
}

@media (width <= 430px) {
  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock {
    width: 150px;
    height: 94px;
  }

  .StudentsParliament-module-scss-module__3Rn5_G__ParliamBlock_text {
    font-size: 9px;
  }
}


/*# sourceMappingURL=src_appPages_site_components_pages_9ff097._.css.map*/
