#content {
  background: url("../../../../../../assets/images/6W3A8933.JPG") no-repeat
    center/cover;
  min-height: 100vh;
  position: relative;

  .content {
    padding-top: 80px;
    position: absolute;
    bottom: 25px;
    z-index: 2;
  }

  .profileImage {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    img {
      position: absolute;
      top: -10;
      border: 4px solid #fff;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }

  .text {
    padding-top: 150px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
    h1 {
      font-size: 48px !important;
      font-weight: 700;
    }

    h2 {
      font-size: 30px;
      font-weight: 200;
    }
  }

  .subtext {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #56397bd2;
    padding: 96px;
  }
}

/* Tablet view */
@media (min-width: 768px) {
  #content {
    .text {
      h1 {
        font-size: 56px;
      }

      h2 {
        font-size: 36px;
      }
    }

    .subtext {
      padding: 80px;
    }
  }
}

/* Small devices view */
@media (max-width: 767px) {
  #content {
    .text {
      padding-top: 100px;
      h1 {
        font-size: 36px;
      }
      h2 {
        font-size: 24px;
      }
    }

    .subtext {
      // top: 0;
    }
  }
}

/* Mobile view */
@media (max-width: 430px) {
  #content {
    .profileImage {
      display: flex;
      justify-content: center;
      img {
        top: -150;
        width: 150px;
        height: 150px;
      }
    }
    .text {
      padding: 0;
      text-align: center;
      h1 {
        font-size: 26px !important;
        padding-top: 10px;
      }
      h2 {
        font-size: 20px;
      }
    }

    .subtext {
      padding: 100px;
    }
  }
}

/* Extra small mobile view */
@media (max-width: 320px) {
  #content {
    .profileImage {
      display: flex;
      justify-content: center;
      img {
        top: -74;
        width: 100px;
        height: 100px;
      }
    }
    .text {
      padding-top: 20px;

      h1 {
        font-size: 20px !important;
      }
      h2 {
        font-size: 16px;
      }
    }

    .subtext {
      padding: 78px;
    }
  }
}

/* Larger screens */
@media (min-width: 1024px) {
  #content {
    .text {
      h1 {
        font-size: 64px;
      }
      h2 {
        font-size: 42px;
      }
    }

    .subtext {
      padding: 100px;
    }
  }
}
