.content {
    display: flex;
    align-items: center;
}

.OlimpBlock {
    width: 249px;
    height: 324px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 0.7) 80%
        ),
        url(../../../../../../assets/images/studnets_olimpic.svg);
    background-size: cover;
    background-position: center;
}

.OlimpBlock_text {
    display: flex;
    font-size: 26px;
    color: white;
    height: 100%;
    text-decoration: none;
    text-align: left;
}

@media (max-width: 1190px) {
}

@media (max-width: 1140px) {
}

@media (max-width: 1100px) {
    .OlimpBlock {
        width: 276px;
        height: 164px;
    }
    .OlimpBlock_text {
        font-size: 16px;
        color: white;
        text-decoration: none;
        align-items: flex-end;
        justify-content: center;
    }
}

@media (max-width: 615px) {
    .OlimpBlock {
        width: 206px;
        height: 114px;
    }
    .OlimpBlock_text {
        font-size: 14px;
    }
}

@media (max-width: 474px) {
    .OlimpBlock {
        width: 186px;
        height: 104px;
    }
    .OlimpBlock_text {
        font-size: 12px;
    }
}

@media (max-width: 380px) {
}
